html,body{
    background-color: #242424;
    color: white;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
    font-family: Graphik,sans-serif;
    text-decoration: none;
}
.slice{
    position: absolute;
    background-color: #242424;
    left: 0;
    top: 550px;
    right: 0;
    bottom: auto;
    height: 100%;
    transform: skew(-7deg,0deg) rotate(-6.5deg);
}
.bgImg{
    height: 1000px;
    position: relative;
    overflow: hidden;
    background-image: url('../public/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.wrapper{
    position: relative;
    background-color: transparent;
    background-image: none;
    width: 1000px;
    margin: -620px auto 0 auto;
    height: auto;
}
.profile-section{
    background-color: #333333;
    box-shadow: 0 18px 45px 0 rgb(0 0 0 / 13%);
    align-items: center;
    text-align: center;
    height: auto;
    margin-bottom: 50px;
}
.profile-top{
    padding-bottom: 10px;
}
.profile-image-wrapper{
    position: relative;
    top: -70px;
    overflow: hidden;
    margin: 0 auto -60px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 8px 40px 0 rgb(0 0 0 / 21%);
}
.profile-image{
    height: 100%;
    width: 100%;
}
.profile-text{
    font-size: 40px;
    font-weight: 500;
}
.profile-description{
    font-size: 14px;
    line-height: 20px;
}
.email-button-wrapper{
    padding: 25px 0;
    position: relative;
    display: flex;
    justify-content: center;
}
.email-button{
    border: 1px solid #929292;
    padding: 10px 13px 9px;
    color: #ffffff;
    display: flex;
}
.email-button:hover{
    border-color: black;
}
.email-image{
    height: 18px;
    margin-right: 10px;
    filter: invert(100%);
}
.email-button-text{
    font-family: Graphik,sans-serif;
    color: #ffffff;
    font-weight: 400;
}
.link-section{
    height: 350px;
    background-color: transparent;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.c{
    width: 100%;
}
.link-item{
    background-color: #333333;
    margin-bottom: 20px;
    height: auto;
    padding-left: 70px;
    align-items: center;
    display: flex;
}
.link-icon-float{
    position: absolute;
    align-items: center;
    justify-content: center;
    left: -10px;
    display: flex;
    width: 60px;
    height: 60px;
}
.link-icon-float-img{
    position: relative;
    border-radius: 2px;
}
.link-icon-beaon{
    position: absolute;
    width: 42px;
    height: 42px;
    opacity: 0.85;
    animation: op 2s ease infinite,tr 2s ease-out infinite;
    animation-name: scaling;
    border-radius: 3px;
}
@keyframes scaling{
    0%{
        transform: scaleX(1) scaleY(1);
        opacity: 0.85;
    }
    100%{
        transform: scaleX(2.5) scaleY(2.5);
        opacity: 0;
    }
}
.link-button{
    align-items: center;
    display: flex;
    height: 80px;
    box-shadow: 0 14px 30px -5px rgb(0 0 0 / 13%);
    text-decoration: none;
}
.link-button-text{
    color: white;
    font-size: 18px;
}